[url "git@github.com:"]
  insteadOf = https://github.com

[user]
	name = strbrgr
	email = jocsti@web.de

[init]
  defaultBranch = main
[core]
	excludesfile = /Users/blitz/.gitignore

[color]  
  diff = auto  
  status = auto  
[branch]  
  autosetuprebase = always
