[user]
  name = Jochen Stierberger
	email = jocsti@web.de

[url "git@github.com:"]
  insteadOf = https://github.com

[init]
  defaultBranch = main
[core]
	excludesfile = /Users/blitz/.gitignore

[alias]
	ga = git add
	gcm = git checkout app-main
	gc- = git checkout -
  gaa = git add --all
  gcb = git checkout -b
  gco = git checkout gll = git log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
  gld = git log --pretty=format:"%C(yellow)%h\\ %C(green)%ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short --graph
  gls = git log --pretty=format:"%C(green)%h\\ %C(yellow)[%ad]%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative
  gst = git status --short --branch

[color]  
  diff = auto  
  status = auto  
[branch]  
  autosetuprebase = always
